<md-sidenav-layout>

<div class="container">

<md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
        <i class="fa fa-list-ul" aria-hidden="true"></i>
    </button>
</md-toolbar>

<div id="question-area" class="row">
  <div class="wrap-question col-md-12" >
    <template [ngIf]="listQuesion">
      <app-question [setQuestion]="currentQuestion" (choiseAnswer)="getAnswerEvent($event)"></app-question>
    </template>
    <div id="controller-area">
      <div class="row">
        <div class="col-md-6" id="btnBack-wrap">
          <button md-raised-button color="primary" *ngIf="showBack" (click)="backBtnEvent($event)"  >Back</button>
        </div>
        <div class="col-md-6" id="btnNext-wrap">
          <button md-raised-button color="primary" *ngIf="showNext" (click)="nextBtnEvent($event)" >Next</button>
        </div>
        <div class="col-md-12 submitBtnWrap" *ngIf="completeQuiz" >
          <button md-raised-button color="accent" (click)="submitQuiz()">Submit</button>
        </div>
      </div>
    </div>

  </div>
</div>
</div><!-- end container -->
    <md-sidenav #sidenav>
      <h4>List Question</h4>

      <md-list *ngIf="listQuesion">
        <md-list-item *ngFor="let question of listQuesion" (click)="sliderbarClickEvent(question); sidenav.close()" >
          <span class="listQuesion-title">{{question.title}}</span>
          <i *ngIf="!question.isAnswer" class="fa fa-circle-o" aria-hidden="true"></i>
          <i *ngIf="question.isAnswer" class="fa fa-check-circle-o" aria-hidden="true"></i>
        </md-list-item>
      </md-list>

      <div *ngIf="completeQuiz" class="submitBtnWrap">
          <button md-raised-button color="accent" (click)="submitQuiz()">Submit</button>
        </div>
    </md-sidenav>

</md-sidenav-layout>

