#question-area{
    padding: 30px 0px;
}
#wrap-question{
    width: 80%;
    padding: 0px;
}
#wrap-question md-card-content{
    padding: 30px;
    min-height: 300px;
}
h4{
    padding: 0px 5px;
    
}
.listQuesionBtn{
    background-color: #3f51b5;
    border: none;
    color: #fff;
    width: 50px;
    height: 50px;
    margin-left: -16px;
}
#controller-area{
    padding: 10px;
    text-align: center;
}
#controller-area .wrap-btn{
    width: 100px;
    display: inline-block;
}
/*#btnBack-wrap{
    text-align: right;
}
#btnNext-wrap{
    text-align: left;
}*/

md-sidenav{
    background-color: #fff;
    min-width: 200px;
}
md-list-item{
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
md-list-item i.fa{
    font-size: 30px;
    padding-left: 45px;
    
}
md-list-item i.fa.fa-circle-o{
    color: #ccc;
}
md-list-item i.fa.fa-check-circle-o{
    color: #3f51b5;
}
/*.submitBtnWrap{
    position: absolute;
    left: 50%;
    margin-left: -44px;
}*/
/*.md-radio-label{
    white-space: normal;
}*/
.listQuesion-title{
    overflow: hidden;
    text-overflow:ellipsis;
}

#question-area,md-sidenav-layout {
  margin: 0;
  width: 100%;
  height: 100%;
}
md-sidenav-layout{
    background: transparent;
}
