<md-sidenav-layout>

  <div class="back-btn" (click)="backClickEvent()">
      <md-icon class="md-24">arrow_back</md-icon>
  </div>

    <div id="question-area">
      <md-card id="wrap-question" class="center-block">

      <md-card-header>
              <button class="listQuesionBtn" (click)="sidenav.toggle()">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
              </button>
      </md-card-header>
      <md-card-content>
            <template [ngIf]="listQuesion">
              <app-question [setQuestion]="currentQuestion" (choiseAnswer)="getAnswerEvent($event)"></app-question>
            </template>
      </md-card-content>
      <md-card-actions>
        <div id="controller-area">
              
                <div class="wrap-btn" id="btnBack-wrap">
                  <button md-raised-button [disabled]="!showBack" color="primary" (click)="backBtnEvent($event)">Back</button>
                </div>
                <div class="wrap-btn" id="btnNext-wrap">
                  <button md-raised-button [disabled]="!showNext" color="primary" (click)="nextBtnEvent($event)" >Next</button>
                </div>

                  <div class="submitBtnWrap wrap-btn" *ngIf="completeQuiz" >
                    <button md-raised-button color="accent" (click)="submitQuiz()">Submit</button>
                  </div>

            </div>
      </md-card-actions>
      </md-card>
    </div>
    <md-sidenav #sidenav>
      <h4>List Question</h4>

      <md-list *ngIf="listQuesion">
        <md-list-item *ngFor="let question of listQuesion" (click)="sliderbarClickEvent(question); sidenav.close()" >
          <span class="listQuesion-title" >{{question.title}}</span>
          <i *ngIf="!question.isAnswer" class="fa fa-circle-o" aria-hidden="true"></i>
          <i *ngIf="question.isAnswer" class="fa fa-check-circle-o" aria-hidden="true"></i>
        </md-list-item>
      </md-list>

      <div *ngIf="completeQuiz" class="submitBtnWrap">
          <button md-raised-button color="accent" (click)="submitQuiz()">Submit</button>
        </div>
    </md-sidenav>

</md-sidenav-layout>