<div class="back-btn" (click)="backClickEvent()">
    <md-icon class="md-24">arrow_back</md-icon>
</div>
<div class="container">
  <md-card id="question-create-wrap">
    
  <md-card-header>
    <button id="save-btn" md-fab color="accent" (click)="saveQuestionEvent()">
        <md-icon class="md-24">save</md-icon>
    </button>
    <span [hidden]="valid" class="error">{{error}}</span>
  </md-card-header>
  <md-card-content>  
  <div class="row">
    <div class="col-md-12">
      <!--<textarea id="" cols="30" rows="10">{{data}}</textarea> -->
      <div md-input-container>
        <input  required [(ngModel)]="quiz.title" md-input placeholder="Title">
      </div>
      <div *ngIf="listQuestion">
        <div class="row">
          <div class="col-md-11">

            <md-tab-group [selectedIndex]="lastTabIndex" (focusChange)="changeTabEvent($event)" >
            <div *ngFor="let aQues of listQuestion; let index = index;" class="question-area row">
              <md-tab>
              <template md-tab-label>
                Question {{ index + 1 }}
              </template>
              </md-tab>
            </div>
            </md-tab-group>

          </div>

          <div class="col-md-1">
              <button class="add-question-btn" (click)="addQuestionEvent()">
                <md-icon class="md-24">add</md-icon>
              </button>
          </div>

        </div>

        <div class="wrap-question-area"> 
        <button (click)="removeQuestionEvent()" md-raised-button color="warn" class="remove-question-btn">
          <md-icon class="md-24">delete</md-icon>
        </button>
        <!--Input-->
        <ckeditor [(ngModel)]="currentQues.description" ></ckeditor>
          <div class="answer-area">
            <h4>Add Answer</h4>
                <ul *ngIf="currentQues.listAnswer">
                  <li *ngFor="let aAnswer of currentQues.listAnswer; let index = index" class="row">
                    <h5>Answer {{ index + 1 }}</h5>
                    <div class="col-md-10">
                      <ckeditor [(ngModel)]="aAnswer.content" debounce="10"></ckeditor>
                    </div>
                    <div class="col-md-2">
                      <md-checkbox [(ngModel)]="aAnswer.isCorrect">Is Correct ?</md-checkbox>
                      <span (click)="removeAAnswer(currentQues,aAnswer)" class="remove-answer">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </span>
                    </div>
                  </li>
                </ul>
          </div>
          <button md-raised-button (click)="addAnswerEvent(currentQues)">
            <md-icon class="md-24">add</md-icon>
          </button>
          
        </div>
      </div>
    </div>
  </div>
  </md-card-content>
  </md-card>
</div>