<div class="container">
  <md-toolbar color="primary">
    <p>Create Quiz Component</p>
    <button  md-raised-button color="accent">Save</button>
  </md-toolbar>
  <div class="row">
    <div class="col-md-12">
      <button md-fab (click)="addQuestionEvent()">
        <md-icon class="md-24">add</md-icon>
      </button>
       
      <div *ngIf="listQuestion">
        <md-tab-group [selectedIndex]="lastTabIndex" (focusChange)="changeTabEvent($event)" >
        <div *ngFor="let aQues of listQuestion; let index = index;" class="question-area row">
          <md-tab>
          <template md-tab-label>
            Question {{ index + 1 }}
          </template>
          </md-tab>
        </div>
        </md-tab-group>

        <!--Input-->
        <ckeditor [(ngModel)]="currentQues.description" ></ckeditor>
          <div class="answer-area">
            <h4>Answer</h4>
                <ul *ngIf="currentQues.listAnswer">
                  <li *ngFor="let aAnswer of currentQues.listAnswer">
                    <ckeditor [(ngModel)]="aAnswer.content" debounce="10"></ckeditor>
                    <md-checkbox [(ngModel)]="aAnswer.isCorrect">Is Correct ?</md-checkbox>
                    <span (click)="removeAAnswer(currentQues,aAnswer)" class="remove-answer">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </span>
                  </li>
                </ul>
          </div>
          <button md-raised-button (click)="addAnswerEvent(currentQues)">
            <md-icon class="md-24">add</md-icon>
          </button>
          

      </div>
    </div>
  </div>
</div>