<div class="container" [ngBusy]="busy">
  <div class="row">
    <template ngIf="homeQuizList">
      <div class="col-md-3" *ngFor="let item of homeQuizList">
      <a href="" [routerLink]="['/quiz-board', item.$key]">
      <md-card>
        <md-card-content>
              <p>{{ item.title }}</p>
        </md-card-content>
        <md-card-actions>
              <button md-raised-button color="primary">
                <md-icon class="md-24">play_arrow</md-icon>
              </button>
        </md-card-actions>
      </md-card>
      </a>
     </div>
    </template>
  </div>
</div>
